* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100%;

}

.navbar-container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 1000;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 1001;
}

.left-navbar {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

#bus-bottem {
    border-bottom: 3px solid red;
    width: 200;
    color: red;
}

.right-navbar {
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    gap: 1.5em;
}

.section-1{
    padding-top: 50px;
}

.right-navbar-items {
    display: flex;
}


.section-1-contaier {
    width: 100%;
    position: relative;
}

#img-font {
    color: white;
    width: 34%;
    height: 100;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    top: 110px;
    left: 150px;

}

.section-1-div-place {
    background-color: red;
    position: relative;

}

.section-1-part3 {
    width: 80%;
    position: absolute;
    top: -4em;
    left: 10%;
    border: none;
    border-radius: 30px;
    
}

.section-1-part-3-1 {
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 15px;
    padding-bottom: 2px;
    justify-content: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: blue; */
    gap: 20px;

}

.section-3-left {
    width: 60%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 15px;
}

#input-1 {
    width: 30%;
    border-right: 1px solid grey;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

#arrive {
    position: absolute;
    z-index: 100;
    bottom: 15;
    right: 190px;
    align-content: center;
}


#input-2 {
    border: 1px solid rgb(213, 213, 213);
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

#departure {
    position: absolute;
    z-index: 100;
    right: 140px;
    bottom: 14;
    align-content: center;
}

.input-1-1 {
    width: 190px;
    height: 30px;
}
.button{
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    background-color: rgb(251, 163, 163);
}

#section-female {
    width: 450px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}


.section-2{
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 80px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;

}
.section-2-part-1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.section-2-part-2{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: none;
    height: 100px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.code-line{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}


.button-train{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    height: 50px;
    border: none;
    background-color: rgb(255, 134, 134);
    font-weight: bolder;
}

.section-2-part-3{
    width: 100%;
    height: 150px;
    background-color: rgb(173,242,179);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-3{
    width: 80%;
    margin: 0 auto;
}

.section-3-part-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.buttons-sec-3{
    display: flex;
    gap: 20px;
}

.buttons-3-3{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.images-part-1{
    display: flex;
    flex: wrap;
    gap: 5px;
    margin: 0 auto;
    padding-top: 25px;

}

.images-part-1-1{
    border-radius: 15px;
}

.parent-image-1{
    position: relative;
}

.child-image-1{
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 10px;
}

.section-4{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.section-4-1{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.section-4-1-1{
    font-size: small;
    padding: 20px;
    width: 17%;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ratting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 10px;
}

.ratiing-inside{
    display: flex;
    gap: 20px;
    align-items: center;
}

.booking-reddeals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-5{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(242,242,248);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-5-1{
    display: flex;
    flex-direction: column;
    gap: 35px;
}